@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 17px;
  font-weight: 300;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px 24px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 900;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

div.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6392156863);
  animation: loader 3s forwards;
  z-index: 3;
}
div.loader div.rond {
  width: 10px;
  height: 0px;
  border-radius: 10px;
  background-color: #9356DC;
  margin: 0 10px;
  animation: aaa 1s infinite ease-in-out;
  transition-delay: 2s;
}
div.loader div.rond:nth-child(1) {
  animation-delay: -0.3s;
}
div.loader div.rond:nth-child(2) {
  animation-delay: -0.1s;
}
div.loader div.rond:nth-child(3) {
  animation-delay: 0.1s;
}
@keyframes aaa {
  0% {
    height: 40px;
  }
  50% {
    height: 80px;
    background-color: #FF79DA;
  }
  100% {
    height: 40px;
  }
}

@keyframes loader {
  100% {
    display: none;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
}
@media (min-width: 1024px) {
  header {
    height: 96px;
  }
}

img {
  width: 162px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  img {
    width: 200px;
  }
}

div.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0px 55px 10px -58px rgba(0, 0, 0, 0.5) inset;
}
@media (min-width: 1024px) {
  div.localisation {
    box-shadow: none;
  }
}
div.localisation i {
  margin-right: 10px;
  font-size: 16px;
  color: #353535;
}
div.localisation p {
  font-size: 16px;
  font-weight: 900;
  color: #353535;
}

section.first {
  display: flex;
  flex-direction: column;
  height: 170px;
  text-align: center;
  background-color: #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}
@media (min-width: 1024px) {
  section.first {
    padding: 30px 20px;
  }
}

section.fonctionnement {
  padding: 40px 20px;
}
@media (min-width: 1024px) {
  section.fonctionnement {
    padding: 40px 120px;
  }
}
@media (min-width: 768px) {
  section.fonctionnement {
    padding: 40px 80px;
  }
}
section.fonctionnement div.blocFonction {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  margin-top: 15px;
}
@media (min-width: 768px) {
  section.fonctionnement div.blocFonction {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
}
section.fonctionnement div.blocFonction div.function {
  display: flex;
  align-items: center;
  width: 97%;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 15px;
  margin: 5px 0;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  section.fonctionnement div.blocFonction div.function {
    width: 30%;
  }
}
section.fonctionnement div.blocFonction div.function div.pastille {
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.fonctionnement div.blocFonction div.function div.pastille p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-weight: 900;
}
section.fonctionnement div.blocFonction div.function i,
section.fonctionnement div.blocFonction div.function h3 {
  margin-left: 25px;
  font-size: 16px;
}
section.fonctionnement div.blocFonction div.function i.grey {
  color: #7E7E7E;
  font-size: 14px;
}
section.fonctionnement div.blocFonction div.function i.primary {
  color: #9356DC;
  font-size: 14px;
}

section.restaurant {
  background-color: #f0f0f0;
  padding: 40px 20px;
}
@media (min-width: 1024px) {
  section.restaurant {
    padding: 40px 120px;
  }
}
@media (min-width: 768px) {
  section.restaurant {
    padding: 40px 80px;
  }
}
section.restaurant div.restaurant div.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}
@media (min-width: 768px) {
  section.restaurant div.restaurant div.cards {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    margin-top: 0;
  }
}
section.restaurant div.restaurant div.cards a {
  width: 100%;
  display: flex;
  justify-content: end;
}
@media (min-width: 768px) {
  section.restaurant div.restaurant div.cards a {
    margin: 15px 0;
  }
}
section.restaurant div.restaurant div.cards a div.card {
  width: 100%;
  height: 235px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px 0;
}
section.restaurant div.restaurant div.cards a div.card div.img {
  height: 70%;
  border-radius: 10px 10px 0 0;
}
section.restaurant div.restaurant div.cards a div.card div.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-radius: 10px 10px 0 0;
}
section.restaurant div.restaurant div.cards a div.card div.img img.second {
  -o-object-position: 0px -144px;
     object-position: 0px -144px;
}
section.restaurant div.restaurant div.cards a div.card div.info {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
section.restaurant div.restaurant div.cards a div.card div.info div.txt p {
  font-size: 17px;
}
section.restaurant div.restaurant div.cards a div.card div.info i {
  margin-right: 10px;
  font-size: 22px;
}
section.restaurant div.restaurant div.cards a div.card div.info i:hover {
  font-weight: 900;
  color: #9356DC;
}
section.restaurant div.restaurant div.cards div.new {
  position: absolute;
  padding: 10px;
  margin-top: 5px;
  display: flex;
}
section.restaurant div.restaurant div.cards div.new p {
  background-color: #99e2d0;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 2px;
  font-weight: 900;
  color: #008766;
}

footer {
  padding: 15px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
}
footer div.footer {
  display: flex;
  flex-direction: column;
  height: 114px;
  margin-top: 5px;
  justify-content: space-evenly;
}
@media (min-width: 1024px) {
  footer div.footer {
    flex-direction: row;
    margin-top: 0;
    align-items: end;
    margin-right: 20px;
  }
}
footer div.footer a {
  color: #fff;
  font-size: 16px;
}
@media (min-width: 1024px) {
  footer div.footer a {
    margin: 0 20px;
  }
}
footer div.footer a i {
  width: 13px;
  margin-right: 10px;
}
footer div.footer a i.hand {
  transform: rotate(-45deg);
}
footer div.footer a.gras {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */