header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;

    @media (min-width: 1024px) {
        height: 96px;
    }

    a {
        position: absolute;
        left: 15px;
    }

    img {
        width: 162px;
        font-weight: 400;

        @media (min-width: 1024px) {
            width: 200px;
        }
    }
}