div.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000a3;
    animation: loader 3s forwards;
    z-index: 3;

    div.rond {
        width: 10px;
        height: 0px;
        border-radius: 10px;
        background-color: #9356DC;
        margin: 0 10px;
        animation: aaa 1s infinite ease-in-out;
        transition-delay: 2s;
    }

    div.rond:nth-child(1) {
        animation-delay: -0.3s;
    }

    div.rond:nth-child(2) {
        animation-delay: -0.1s;
    }

    div.rond:nth-child(3) {
        animation-delay: 0.1s;
    }

    @keyframes aaa {
        0% {
            height: 40px;
        }

        50% {
            height: 80px;
            background-color: #FF79DA;
        }

        100% {
            height: 40px;
        }
    }
}

@keyframes loader {
    100% {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}